<%- include('../includes/header.ejs') %>

    <%- include('../includes/nav.ejs') %>
        <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
        <script type="application/javascript" src="/javascript/my-tinymce-config.js"></script>
        <div class="container">
            <% for (let arti of article) { %>
                <!-- <div class="cs-blog-detail">
        <div class="cs-main-post">
            <h4><%= arti.title %></h4>
            <figure><img src="<%= arti.imgurl %>"></figure>
        </div>
        <div class="cs-post-title">
            <div class="cs-author">
               
                <div class="cs-text">
                    <a href="#"><%= arti.author %></a>
                </div>
            </div>
            <div class="post-option">
               
                <span class="post-date"><i class="cs-color icon-calendar6"></i><%= arti.date %></a></span>
            </div>
        </div>
        <div class="cs-post-option-panel">
            <div class="rich-editor-text">

                <textarea id="des1" name="des1" class="des1">
                    <%= arti.des %>
                </textarea>
                
                
               
            </div>
        </div> -->


                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12">
                            <article class="blog-card">
                                <div class="blog-card__background">
                                    <div class="card__background--wrapper">
                                        <div class="card__background--main"
                                            style="background-image: url('<%= arti.imgurl %>');">
                                            <div class="card__background--layer"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-card__head">
                                    <span class="date__box">
                                        <span class="date__day">
                                            <%= arti.date %>
                                        </span>
                                    </span>
                                </div>
                                <div class="blog-card__info">

                                    <h5>
                                        <%= arti.title %>
                                    </h5>

                                    <p>
                                        <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i>
                                            <%= arti.author %>
                                        </a>
                                    </p>
                                    <p> <textarea id="des1" name="des1" class="des1">
                        <%= arti.des %>
                    </textarea></p>

                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="cs-tags">
                    <div class="tags">
                        <span>Tags</span>
                        <ul>

                            <li><a rel="tag" href="//article/<%= arti.category %>">
                                    <%= arti.category %>
                                </a></li>

                        </ul>
                    </div>

                </div>

        </div>
        <% } %>
            </div>

            <%- include('../includes/footer.ejs')%>